.category{
    /* border: 5px solid black; */
    width: 75%;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
}

.category_image{
    border-radius: 10px;
    height: 160px;
    width: auto;
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1);
    display: block;
    transition: transform 0.3s ease;
}

.category_image:hover{
    transform: translateY(-5px) scale(1.05);
}