.footer{
    margin: 0;
    padding: 0;
    display: flex;
    height: 10vw;
    background-color: #00662a;
    bottom: 0;  
    /* position: absolute; */
    width: 100%;
    justify-content: space-between;
}