/* <--------------hero section-------------> */
.hero_container {
    position: relative;
    width: 100%;
    height: 100vh; /* Ensure the hero section takes up the full viewport height */
    overflow: hidden;
}

.hero_gif {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    text-align: center;
    color: white; 
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.info_content {
    max-width: 1200px;
    margin: 0 auto;
}

.company_name {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 15px 20px;
    background-color: rgb(0, 51, 102, 0.8);
    color: white;
    border-radius: 5px; 
    text-transform: uppercase;
    box-sizing: border-box;
}

.container_travel {
    display: flex;
    gap: 20px; 
    justify-content: space-between;
}

.button_travels {
    flex: 1; /* Allow buttons to grow and take up equal space */
    padding: 15px; /* Adjust padding as needed */
    background-color: rgb(0, 51, 102, 0.8); /* Semi-transparent background */
    color: white;
    border-radius: 5px;
    text-align: center; /* Center text inside buttons */
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 2em;
}

.button_travels:hover {
    background-color: rgb(0, 51, 102, 1); /* Darken background on hover */
}

a{
    text-decoration: none;
}

/* <--------------argument section-------------> */

.argument_container {
    display: flex;
    justify-content: center;
    gap: 40px;
    background-color: rgb(0, 51, 102);
    padding: 20px;
}

.argument_element {
    padding: 5px;
    max-width: 20vw;
    border-radius: 5px;
    flex: 1;
    background-color: rgb(0, 112, 224);
    opacity: 0; /* Start hidden */
    transform: translateY(20px); /* Start slightly down */
    transition: opacity 1s ease-out, transform 1s ease-out; /* Use transition for smooth effect */
}

.argument_element.in-view {
    opacity: 1; /* Make visible */
    transform: translateY(0); /* Move to original position */
}

.argument_number {
    text-align: center;
    font-size: 10mm;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 10px;
}

.argument_text {
    text-align: center;
    font-size: 5mm;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.argument_number, .argument_text {
    color: white;
}

/* <------------------------ Productos ---------------------> */
/* Productos Section */
.productos_section {
  padding: 50px 0;
  background-color: #f7f7f7;
}

.section-title {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 40px;
}

.productos_carousel {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  padding: 5px;
}

.productos_item {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
}

.productos_item:hover {
  transform: translateY(-5px);
}

.productos_floating {
  position: relative;
  height: 200px;
  overflow: hidden;
}

.productos_floating img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.productos_item_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.productos_info {
  flex-grow: 1;
  margin-right: 20px;
}

.productos_info h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.productos_info p {
  font-size: 16px;
  color: #555;
  line-height: 1.5;
}

.btn-cotizar {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .productos_carousel {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .productos_carousel {
    grid-template-columns: 1fr;
  }
}