/* General Styling */
body {
    font-family: Arial, sans-serif;
}

h1 {
    font-weight: bold;
    letter-spacing: -0.05em;
}

/* Button Styling */
.btn-outline-dark {
    border: 1px solid #000;
    color: #000;
    font-weight: bold;
    border-radius: 0;
}

.btn-outline-dark:hover {
    background-color: #000;
    color: #fff;
}

/* Navbar Alignment */
input[type="text"] {
    max-width: 300px;
    border-radius: 0;
}

.container > .d-flex > .btn {
    padding: 0.5em;
    font-size: 1.2rem;
}

.title-link {
    text-decoration: none;
    color: #000;
}