<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="{% static 'css/admin_list.css' %}">
<script src="{% static 'js/admin_list.js' %}"></script>
<div id="admin_list">
    <div class="title">Sederia y Novedades Luisita</div>
    <div id="navbar">
        <a href="{% url 'add_product' %}"><div class="button">Agregar Producto</div></a>
        <a href="{% url 'catalogo' %}"><div class="button">Catalogo</div></a>
        <select id="categorizer">
            <option value="0">All</option>
            {% for category in category_query %}
            <option value="{{category.id}}">{{ category.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div id="body">
        <table id="product_table">
            <thead>
                <th>
                    <input id="bulk_checkbox" type="checkbox" autocomplete="off" onclick="handle_bulk_checkbox(this)">
                </th>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Categoria</th>
                <th>Price</th>
                <th>Show Price</th>
                <th>Edit</th>
            </thead>
            <tbody id="table_body">
                {% for product in product_query %}
                <tr id="{{product.id}}">
                    <th><input type="checkbox" autocomplete="off" onclick="handle_checkbox(this, {{product.id}})"></th> 
                    <th>{{product.id}}</th>
                    <th>{{product.name}}</th>
                    <th class="product_description">{{product.description|truncatechars:50}}</th>
                    <th>{{product.category_id}}</th>
                    <th>{{product.price}}</th>
                    <th>{{product.display_price}}</th>
                    <th><a href="{% url 'edit_product' product.id %}" class="button">Edit</a></th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- <button type="button" onclick="delete_checked_products(event)">Delete</button> -->
        <button type="button" onclick="delete_checked_products(event)">Delete</button>
        <!-- <button type="button" onclick="categorize_ui()">Test_button</button> -->
    </div>
</div>