{% load static %}
<link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<div class="navbar">
    <div>LOGO</div>
    <i class="fa-brands fa-whatsapp">6949-5358</i>
    <i class="fas fa-envelope">luisitaimprimit@outlook.com</i>
    <i class="fas fa-map-marker-alt">Sabanitas, Colon</i>
</div>