{% extends 'main.html' %}
{% block title %}Catalogo{% endblock title %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/catalogo.css' %}">
<div id="content">
    {% include 'category.html' %}
    <h1 class="title">Catalogo</h1>
    <div id="card_container">
        {% for product in product_query %}
            <div class="card">
                <div class="card_image_container">
                    {% if product.image %}
                        <img alt="Render Problem" src="{{ product.image.url }}" class="card_image">
                    {% else %}
                        <img alt="default_image" src="{% static 'images/default_image.jpg' %}" class="card_image">
                    {% endif %}
                </div>
                <div class="card_content">
                    <p>{{ product.name }}</p>
                    {% if product.display_price %}
                    <p>{{ product.price }}</p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}