<!DOCTYPE html>
{% extends 'base/main.html' %}
{% load static %}
{% block content %}
<div id="root">
    <script type="module" src="{% static 'js/home.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <section class="hero_section">
        <div class="hero_container">
            <img class="hero_gif" src="{% static 'images/gif_hero_section.gif' %}">
            <div class="info">
                <div class="info_content">
                    <div class="company_name">Gera Enterprises S.A.</div>
                    <div class="container_travel">
                        <a href="#" class="button_travels">Productos</a>
                        <a href="#" class="button_travels">Cotizar</a>
                        <a href="#" class="button_travels">Sobre Nosotros</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include 'base/logos.html' %}
    <section class="argument_section">
        <div class="argument_container">
            <div class="argument_element">
                <p class="argument_number">100%</p>
                <p class="argument_text">de clientes satisfechos con su compra</p>
            </div>
            <div class="argument_element">
                <p class="argument_number">20+</p>
                <p class="argument_text">paises gozan de nuestros productos</p>
            </div>
            <div class="argument_element">
                <p class="argument_number">20+</p>
                <p class="argument_text">marcas de confianza</p>
            </div>
        </div>
    </section>
    <section class="productos_section">
        <h1 class="section-title">Productos</h1>
        <div class="productos_carousel">
            {% for product in product_query %}
            <div class="productos_item">
                <div class="productos_floating">
                    <img src="{{product.image.url}}" alt="{{product.name}}">
                </div>
                <div class="productos_item_bottom">
                    <div class="productos_info">
                        <h3>{{product.name}}</h3>
                        <p>{{product.description}}</p>
                    </div>
                    <div>
                        <a class="btn-cotizar" href="#contact-section">Cotizar</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    {% include 'contact_form.html' %}
    {% include 'footer.html' %}
</div>
{% endblock content %}