<!DOCTYPE html>
{% extends 'base/main.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<div id="root">
    <script type="module" src="{% static 'js/home.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <section class="hero_section bg-dark text-white min-vh-100 d-flex justify-content-center align-items-center py-5">
        <div class="hero_container text-center">
            <img class="hero_logo img-fluid bg-dark" src="{% static 'images/logo_transparent.png' %}" alt="Hero Logo">
            <div>
                <a href="#shop" class="btn btn-outline-primary btn-xl me-3 fs-2">
                    Cotiza con Nosotros
                </a>
                <a href="{% url 'catalogo' %}" class="btn btn-outline-light btn-xl fs-2">
                    Ver Productos
                </a>
            </div>
        </div>
    </section>
    <!-- <section class="argument_section">
        <div class="argument_container bg-dark">
            <div class="card p-3 w-50 text-center bg-secondary text-white">
                <blockquote class="blockquote mb-0">
                    <h1 class="text-decoration-underline">1000+</h1>
                    <p>De Productos</p>
                </blockquote>
            </div>
            <div class="card p-3 w-50 text-center bg-secondary text-white">
                <blockquote class="blockquote mb-0">
                    <h1 class="text-decoration-underline">20+</h1>
                    <p>Marcas de Confianza</p>
                </blockquote>
            </div>
            <div class="card p-3 w-50 text-center bg-secondary text-white">
                <blockquote class="blockquote mb-0">
                    <h1 class="text-decoration-underline">100%</h1>
                    <p>de Clientes Satisfechos con su compra</p>
                </blockquote>
            </div>
        </div>
    </section> -->
    {% include 'base/logos.html' %}
    <section class="productos_section">
        <!-- <h1 class="section-title">Productos</h1> -->
        <div class="productos_carousel">
            {% for product in product_query %}
            <div class="productos_item">
                <div class="productos_floating">
                    <img src="{{product.image.url}}" alt="{{product.name}}">
                </div>
                <div class="productos_item_bottom">
                    <div class="productos_info">
                        <h3>{{product.name}}</h3>
                        <!-- <p>{{product.description}}</p> -->
                    </div>
                    <div>
                        <a class="btn-cotizar" href="#contact-section">Cotizar</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    {% include 'contact_form.html' %} 

</div>
{% endblock content %}