{% load static %}
{% load category_tags %}
{% get_all_categories as categories %} 
<link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<div class="navbar">
    <div class="top">
        <img id="logo_image" src="{% static 'images/logo.png' %}">
        <p><i class="fa-brands fa-whatsapp" style="color: white"></i>####-####</p>
        <p><i class="far fa-envelope" style="color: white"> </i>example@gmail.com</p>
        <p><i class="far fa-map-marker-alt" style="color: white"></i>Zona Libre ##, Colon</p>
    </div>
    <div class="bottom">
      <div>Products</div>
      <div>FAQ</div>
      <div>About Us</div>
    </div>

</div>